<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Stop output INFO at start -->
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

  <!-- Logs internal actions for programmer -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <pattern>%d{HH:mm:ss.SSS} | %-5level %-40logger{38} | %msg%n</pattern>
      <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
        <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
          <prettyPrint>true</prettyPrint>
        </jsonFormatter>
        <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSX</timestampFormat>
        <timestampFormatTimezoneId>Etc/UTC</timestampFormatTimezoneId>
        <appendLineSeparator>true</appendLineSeparator>
      </layout>
    </encoder>
  </appender>

  <property name="DEFAULT_LOG_LEVEL" value="${DEFAULT_LOG_LEVEL:-INFO}"/>
  <root level="${DEFAULT_LOG_LEVEL}">
    <appender-ref ref="STDOUT"/>
  </root>

  <!-- control Branchtalk logs -->
  <property name="BRANCHTALK_LOG_LEVEL" value="${BRANCHTALK_LOG_LEVEL:-INFO}"/>
  <property name="BRANCHTALK_API_LOG_LEVEL" value="${BRANCHTALK_API_LOG_LEVEL:-$BRANCHTALK_LOG_LEVEL}"/>
  <property name="BRANCHTALK_INFRA_LOG_LEVEL" value="${BRANCHTALK_INFRA_LOG_LEVEL:-$BRANCHTALK_LOG_LEVEL}"/>
  <logger name="io.branchtalk" level="${BRANCHTALK_LOG_LEVEL}"/>
  <logger name="io.branchtalk.api" level="${BRANCHTALK_API_LOG_LEVEL}"/>
  <logger name="io.branchtalk.shared.infrastructure" level="${BRANCHTALK_INFRA_LOG_LEVEL}"/>
  <logger name="io.branchtalk.discussions.api" level="${BRANCHTALK_API_LOG_LEVEL}"/>
  <logger name="io.branchtalk.discussions.reads" level="${BRANCHTALK_INFRA_LOG_LEVEL}"/>
  <logger name="io.branchtalk.discussions.writes" level="${BRANCHTALK_INFRA_LOG_LEVEL}"/>
  <logger name="io.branchtalk.users.api" level="${BRANCHTALK_API_LOG_LEVEL}"/>
  <logger name="io.branchtalk.users.reads" level="${BRANCHTALK_INFRA_LOG_LEVEL}"/>
  <logger name="io.branchtalk.users.writes" level="${BRANCHTALK_INFRA_LOG_LEVEL}"/>

  <!-- control HTTP4s logs -->
  <property name="HTTP4S_LOG_LEVEL" value="${HTTP4S_LOG_LEVEL:-ERROR}"/>
  <logger name="org.http4s.blaze.BlazeServerBuilder" level="off"/>
  <logger name="org.http4s.blaze.channel" level="${HTTP4S_LOG_LEVEL}"/>
  <logger name="org.http4s.server.blaze" level="${HTTP4S_LOG_LEVEL}"/>

  <!-- control Flyway logs -->
  <property name="FLYWAY_LOG_LEVEL" value="${FLYWAY_LOG_LEVEL:-ERROR}"/>
  <logger name="org.flywaydb" level="${FLYWAY_LOG_LEVEL}"/>

  <!-- control Hikari logs -->
  <property name="HIKARI_LOG_LEVEL" value="${HIKARI_LOG_LEVEL:-ERROR}"/>
  <logger name="com.zaxxer.hikari" level="${HIKARI_LOG_LEVEL}"/>

  <!-- control Kafka logs -->
  <property name="KAFKA_LOG_LEVEL" value="${KAFKA_LOG_LEVEL:-ERROR}"/>
  <logger name="org.apache.kafka.clients" level="${KAFKA_LOG_LEVEL}"/>
  <logger name="org.apache.kafka.clients.admin" level="${KAFKA_LOG_LEVEL}"/>
  <logger name="org.apache.kafka.clients.consumer" level="${KAFKA_LOG_LEVEL}"/>
  <logger name="org.apache.kafka.clients.producer" level="${KAFKA_LOG_LEVEL}"/>
  <logger name="org.apache.kafka.common.metrics" level="${KAFKA_LOG_LEVEL}"/>
  <logger name="org.apache.kafka.common.utils" level="${KAFKA_LOG_LEVEL}"/>
</configuration>
